* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
.btn {
  border-radius: 5px;
  width: 70px;
  background-color: rgb(117, 22, 51);
  color: aliceblue;
  border: none;
  cursor: pointer;
}
